.banner{

    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    min-height: 150vh;
}

.foot{
        width: 1200px;
        height: auto;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
        grid-gap: 20px;
        padding: 10px;
        box-sizing: border-box;
}
.food{
    position: relative;
    background:honeydew;
    background-color: white;
    text-align: center;
    overflow: hidden;
    padding: 20px 40px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 20px;
}
.food-img{
    width: 100%;
}
.detailImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    min-width: 80%;
    height: 20%;

  }
  .showCenter{
    margin-left: auto;
    margin-right: auto;
    width: 50em
  }
  div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
  }